#company_name {
  color: green;
}

#latest_model{
  background-color: aqua;
  height:900px;
  text-align: center;
  font-size: 25px;
  background-image: url("../images/download.jpg");
  background-repeat: repeat;
  background-position:30px 50px;
  background-attachment:fixed;
  background-size:cover;
}

